/* note to self: Make comments */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    /* Set text color to white */
}

h1 {
    /* text-align: center;
    font-family: monospace;
    color: darkviolet; */
    border-style: ridge;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    margin: 0;
    display: inline-block;
}

/* background shits */
.container {
    max-width: 1100px;
    display: block;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(to bottom, black, purple);
}

.text-container {
    text-align: center;
    font-family: monospace;
    color: darkviolet;
}

img {
    width: 200px;
    height: auto;
}

.list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.list li {
    display: inline-block;
    margin: 10px;
}

/* Hover effect for links so cool!!!*/
.list li a:hover img {
    opacity: 0.3;
    /* Adjust the opacity level when hovering bigbrain*/
}

/* more background shitz */
.rcontainer {
    display: block;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(to bottom, purple, black);
}

.text-cont {
    text-align: center;
    font-family: monospace;
    color: #230D08;

}

/* had to make a text-container to fix padding issues with background */
h2 {
    /* text-align: center;
    font-family: monospace;
    color: #230D08; */
    border-style: ridge;
    border-width: 10px;
    border-radius: 15px;
    border-color: black;
    margin: 0;
    display: inline-block;
}

button {
    background-color: #250223;
    /* Set the background color */
    color: rgb(206, 16, 200);
    /* Set the text color */
    padding: 10px 20px;
    /* Add padding to the button */
    border-style: dotted;
    border-color: blueviolet;
    /* Remove the default button border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    /* Add a pointer cursor on hover */
}

button:hover {
    background-color: #b92997;
    font-weight: bold;
    /* Change the background color on hover */
}

form {
    text-align: center;
    text-decoration: double;
    text-shadow: #000;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

/* more work needed */
footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
}

.end {
    margin: 0;
    padding: 0;
    background-color: lightslategray;
}